<.header>Create Your Account</.header>

<.simple_form for={@form} phx-change="validate" phx-submit="save">
  <.input field={@form[:username]} label="Username" />
  <.input field={@form[:email]} label="Email" />
  <.input field={@form[:phone_number]} label="Phone Number" />
  <:actions>
    <.button>Save</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/users"}>Back</.back>

